@charset "utf-8";
/* CSS Document */

body {
	background-color: slategray;
}

#upgrades{
	float: right;
	border: 1px solid red;
}

#balance {
	width: 100%;
	border: 1px solid red;
	text-align: center;
	max-width: inherit;
	font-size: 1.5em
}

#info {
	float: left;
	vertical-align: middle;
	border: 1px solid red;
	margin: 2em;
	max-width: 31em;
}

#clickme {
	background-color: transparent;
	border-radius: 50%;
	display: inline-block;
	margin: 3em;
}

#clickme:active {
	transform: scale(0.98);
}

.button {
	display: block;
	background-color: lightblue;
	border-radius: 12px;
	color: darkslategray;
	cursor: pointer;
	font-weight: bold;
	padding: 5px 8px;
	text-align: center;
	transition: 200ms;
	width: 12em;
	height: 4.5em;
	box-sizing: border-box;
	border: 0;
	font-size: 20px;
	user-select: none;
	touch-action: manipulation;
	margin: 1em;
}

.button:active {
	border-color: #000000;
	transform: scale(.96);
}

.button:hover {
	outline: 1;
	box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
	filter: saturate(1.4);
}

.button:disabled {
	filter: saturate(0.5) opacity(0.5);
	cursor: not-allowed;
}