@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* CSS Document */

body {
	background-color: #2e2e2e;
}

.left-bar {
	float: left;
	text-align: center;
	margin: 30px;
	background-color: dimgray;
	border: 2px solid white;
}

.cookie {
	padding: 25px;
	margin: 15px;
	width: 200px;
	height: 200px;
	background-image: url("images/cookie.png");
	background-color: transparent;
	border: none;
}

.cookie:active {
	transform: scale(0.98);
}

.cookiecount {
	font-family: 'Bebas Neue', cursive;
	font-size: 32px;
	color: white;
	margin: 20px 0 0 0;
	padding: 10px;
}

.clickerupgrade {
	font-size: 20px;
}