@charset "utf-8";
@import url(https://use.typekit.net/efj7gzu.css);

body {
	background-color: #1e345d;
	margin: 0px;
}

.dom-header {
	position: fixed;
	top: 0px;
	background-image: url("Images/Ribben-1k.png");
	width: 100%;
	height: 110px;
	z-index: 1;
}

#head01 {
	position: fixed;
	top: 0;
	left: 0;
	height: 96px;
	z-index: 1;
}

.splash-frame {
	display: block;
	margin-top: 110px;
	width: 100%;
	height: calc(100VH - 110px);
}